<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Windows Search Pages</title>
    <!-- BootstrapのCDNでのCSS読み込み -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="css/master_style.css" rel="stylesheet" />
</head>

<body>
    <!-- ヘッダーメニュー -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Dashboard</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/winlog">Windows</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/a10log">A10 thunder</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ヘッダーメニューここまで -->

    <div class="border shadow p-3 mb-5 bg-body rounded" style="margin: 20px; background-color: rgb(233, 233, 233);">
        <!-- フィルタ機能ここから -->
        <p style="padding-left: 5px">
            検索結果 : {% print(tdl) %} 件
        </p>
        <div class="row" style="padding: 5px;">
            <div class="col-md-4">
                <div class="d-flex">
                    <form action="/a10log_view_search" class="d-flex">
                        <select class="form-select me-2 col-12" name="select-query"
                            aria-label="Example select with button addon">
                            <option selected value="">ALL</option>
                            <option value="type">Type</option>
                            <option value="response">Response</option>
                            <option value="from_add">FromAddress</option>
                            <option value="to_add">ToAddress</option>
                            <option value="to_domain">ToDomain</option>
                            <option value="to_url">ToURL</option>
                        </select>
                        <input class="form-control me-2 col-md-4" type="text" placeholder="Search" aria-label="Search"
                            name="query" value="{{ query }}">
                        <button class="btn btn-sm btn-outline-secondary" type="submit" id="searchBtn">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- ページネーション -->
        <div class="row" style="padding-left: 17px">
            <div class="pagination">
                <div class="col">
                    {% if page > 1 %}
                    <div class="d-flex justify-content-start">
                        <a href="/a10log_search?page=1&limit={{ limit }}&query={{ query }}"
                            class="btn btn-info me-3">Page.1</a>
                        <a href="/a10log_search?page={{ page - 1 }}&limit={{ limit }}&query={{ query }}"
                            class="btn btn-outline-info">Prev</a>
                    </div>

                    {% else %}
                    <div class="d-flex justify-content-start">
                        <button type="button" class="btn btn-info me-3" disabled>Page.1</button>
                        <button type="button" class="btn btn-outline-info" disabled>Prev</button>
                    </div>
                    {% endif %}
                </div>

                <div class="col">
                    {% if tables|length == limit and page < total_pages %} <div class="d-flex justify-content-end">
                        <a href="/a10log_search?page={{ page + 1 }}&limit={{ limit }}"
                            class="btn btn-outline-danger me-3">Next</a>
                        <a href="/a10log_search?page={{ total_pages }}&limit={{ limit }}" class="btn btn-danger">Page.{{
                            total_pages }}</a>
                </div>

                {% else %}
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-danger me-3" disabled>Next</button>
                    <button type="button" class="btn btn-danger" disabled>Page.{{ total_pages }}</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- ページネーション終わり -->
    <!--メインコンテンツ-->
    <div class="table-responsive-md" style="margin-left: 5px">
        <table class="table content-table">
            <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th style="width: 7%">Date</th>
                    <th style="width: 5%">Type</th>
                    <th style="width: 10%">Response</th>
                    <th style="width: 10%">From<br>Address</th>
                    <th style="width: 10%">To<br>Address</th>
                    <th style="width: 15%">To<br>Domain</th>
                    <th class="th_tourl">ToURL</th>
                </tr>
            </thead>
            <tbody>
                {% for row in tables %}
                <tr>
                    <td> {{ row[0] }} </td>
                    <td> {{ row[1] }} </td>
                    <td> {{ row[2] }} </td>
                    <td> {{ row[3] }} </td>
                    <td> {{ row[4] }} </td>
                    <td> {{ row[5] }} </td>
                    <td> {{ row[6] }} </td>
                    <td> {{ row[7] }} </td>
                </tr>
                {% endfor %}
            </tbody> <!-- ここに配列の中身を表示させる -->
        </table>

    </div>
    </div>
</body>

</html>